:root {
  /* Basic Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light: #f4f4f4;
  --color-dark: #111111;

  /* Hero Colors */
  --hero-text: #ffffff;
  --hero-border: #ffffff;

  /* Footer */
  --footer-bg: #000000;
  --footer-text: #ffffff;
}
